/* .movieDetails {
    background-color: rgb(114, 114, 117);
    padding: 15px;
}
.moviePoster {
    width: 200px;
    height: 300px;
}
.moviesListLink {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(78, 78, 80);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.moviesListLink:hover {
    background-color: rgb(99, 99, 131);
}
.loader {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: rgb(43, 43, 73);
} */